name: IPO Notifier Cron

on:
  schedule:
    - cron: "30 13 * * *"   # 7:00 PM IST
  workflow_dispatch:        # Manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run IPO Script
        run: |
          python ipo_script.py

